<a href="https://colab.research.google.com/github/bray2020/Data-Science-Portfolio-NLP-Works/blob/main/Movies_review_sentiment_analysis_using_nlpia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movie reviews sentiment analysis: Based on sentiment/polarity score from nlpia package

In [1]:
#!pip install nlpia

In [2]:
import nlpia
from nlpia.data.loaders import get_data
movies = get_data('hutto_movies')

/usr/local/lib/python3.7/dist-packages/pugnlp/constants.py:136: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  [datetime.datetime, pd.datetime, pd.Timestamp])
/usr/local/lib/python3.7/dist-packages/pugnlp/constants.py:158: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  MIN_TIMESTAMP = pd.Timestamp(pd.datetime(1677, 9, 22, 0, 12, 44), tz='utc')
/usr/local/lib/python3.7/dist-packages/pugnlp/tutil.py:100: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np
/usr/local/lib/python3.7/dist-packages/pugnlp/util.py:80: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np
/usr/local/lib/python3.7/dist-packages/nlpia/futil.py:30: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np
/usr/local/lib/python3.7/dist-packages/nlpia/loaders.py:78: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  np = pd.np

In [3]:
movies[:5]

    sentiment                                               text
id
1    2.266667  The Rock is destined to be the 21st Century's ...
2    3.533333  The gorgeously elaborate continuation of ''The...
3   -0.600000                     Effective but too tepid biopic
4    1.466667  If you sometimes like to go to the movies to h...
5    1.733333  Emerges as something rare, an issue movie that...

In [4]:
movies.shape

(10605, 2)

**Applying Tokenization using keras package:**

In [5]:
from keras.preprocessing.text import text_to_word_sequence

In [6]:
#Applying word level tokenization and stroing into a column named, 'word_tokens'
word_tokens = []
for i in movies['text']:
  word_tokens.append(text_to_word_sequence(i))
movies['word_tokens'] = word_tokens
movies.head()

    sentiment  ...                                        word_tokens
id             ...
1    2.266667  ...  [the, rock, is, destined, to, be, the, 21st, c...
2    3.533333  ...  [the, gorgeously, elaborate, continuation, of,...
3   -0.600000  ...               [effective, but, too, tepid, biopic]
4    1.466667  ...  [if, you, sometimes, like, to, go, to, the, mo...
5    1.733333  ...  [emerges, as, something, rare, an, issue, movi...

[5 rows x 3 columns]

**Stop Words Removal using nltk and sklearn both:**
- Remove the stop words from each record of movies['word_tokens']
- First get the stop words from both the libraries - nltk and sklearn
- Then remove the stop words according to this combined stop words list

In [7]:
#Stop words combining step:

#get all the stop words from nltk library:
import nltk
nltk.download('stopwords')
stop = nltk.corpus.stopwords.words('english')

#get all the stop words from sklearn library:
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stop

#now combine the stop words
combined_stop = list(set(stop).union(sklearn_stop))
len(combined_stop)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

378

In [8]:
#Stop words removal step: After removing stop wird storing the data into a list named, 'clean data'
clean_data = []

for sen in movies['word_tokens']:
  for words in sen:
      if words in combined_stop:
        sen.remove(words)
  clean_data.append(sen)

#print only the 1st record after removing the stop words
clean_data[0]

['rock',
 'destined',
 'be',
 '21st',
 "century's",
 'new',
 "''conan''",
 'that',
 "he's",
 'going',
 'make',
 'splash',
 'greater',
 'arnold',
 'schwarzenegger',
 'jean',
 'claud',
 'van',
 'damme',
 'steven',
 'segal']

**Based on the cleaned data performed Setiment analysis using vaderSentiment package:**

In [9]:
#!pip install vaderSentiment

In [11]:
#Creting the column named, 'vader_sentiment' for each review 
score = []
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
sa = SentimentIntensityAnalyzer()
for doc in clean_data:        
  for review in doc:
    scores = sa.polarity_scores(review)
  score.append(scores)
movies['vader_sentiment'] = score


#Storing only the compound score to a column named, 'compound_scores'
compound_scores = []

for i in movies.vader_sentiment:
  for key,value in i.items():
    if key=='compound':
      compound_scores.append(value)
movies['compound_scores'] = compound_scores


#printing the firts 30 reviews with their vader sentiment score details
movies[:30]

    sentiment  ... compound_scores
id             ...
1    2.266667  ...          0.0000
2    3.533333  ...          0.0000
3   -0.600000  ...          0.0000
4    1.466667  ...          0.0000
5    1.733333  ...          0.3612
6    2.533333  ...          0.0000
7    2.466667  ...          0.0000
8    1.266667  ...          0.0000
9    1.933333  ...          0.0000
10   1.733333  ...          0.0000
11   2.066667  ...          0.0000
12   1.666667  ...          0.4215
13   3.133333  ...          0.0000
14   3.666667  ...          0.0000
15   1.333333  ...          0.0000
16   2.200000  ...          0.0000
17   1.000000  ...          0.0000
18   3.400000  ...          0.0000
19   2.200000  ...          0.0000
20   2.533333  ...          0.0000
21   2.800000  ...          0.0000
22   2.466667  ...          0.0000
23   2.000000  ...          0.0000
24   1.133333  ...          0.0000
25   1.200000  ...          0.0000
26   1.266667  ...          0.4767
27   1.533333  ...          0.0000
28  -0.333333  ...          0.0000
29   0.866667  ...          0.0000
30   2.200000  ...          0.0000

[30 rows x 5 columns]

**Observation:**
- Out of the above displayed only 50 scores, we can see that 3 reviews are positive (considering the compound factor). 
- The positive review indeces are as 5, 12 and 26. 
- The rest reviews have turend out to be neutral as per this vader setiment analysis scoring technique.

In [12]:
#checking the positive review data:
print(movies.iloc[4]['word_tokens'])
print(movies.iloc[11]['word_tokens'])
print(movies.iloc[25]['word_tokens'])

['emerges', 'something', 'rare', 'issue', 'movie', "that's", 'honest', 'keenly', 'observed', 'it', 'feel', 'like']
['really', 'surprises', 'wisegirls', 'its', 'low', 'key', 'quality', 'genuine', 'tenderness']
['occasionally', 'melodramatic', 'also', 'extremely', 'effective']